ALTER TABLE public.user_settings ADD COLUMN IF NOT EXISTS api_key text;
CREATE TRIGGER user_settings_updated BEFORE UPDATE ON public.user_settings FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();
